.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #6A4029;
    border-radius: 50%;
    width: 30px;
    margin: auto;
    height: 30px;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    width: min(5vw, 150px);
    margin: auto 20px;
}

p {
    text-align: center;
}